/* footer.css */
.footer {
    background-color: #ffffff;
    padding: 4px 0;
    border-top: 1px solid #e0e0e0;
}
.footer-link {
    text-decoration: none;
    color: #28a745;
    display: block;
}
.footer-link:hover {
    color: #218838;
}
.footer p {
    margin: 0;
    font-size: 16px;
}

btn {
    align-items: center;
}
