/* header.css */
.header {
    background-color: #ffffff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header-logo {
    max-height: 50px;
    border-radius: 50%;
}
.form-inline .form-control {
    border-radius: 20px;
    padding-left: 30px;
}
.form-inline .form-control::placeholder {
    color: #6c757d;
}
.form-inline .form-control:focus {
    box-shadow: none;
}
.form-inline .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #28a745;
}
