
header{
    background-color: black;
    color: ghostwhite;
    font-size: x-large;
    text-align: center;
}
.cuerpo{
    background-color: rgb(48, 40, 38);
    padding: 1em;
}
nav{
    border-top: 1px solid rgb(48, 40 ,38);
}
.critica{
    background-color: beige;

    margin-left:auto;
    margin-right:auto;
    width: 75%;
}
.fondo_critica{
    background-color: rgb(158, 135, 111);
    margin-left:auto;
    margin-right:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    margin-top:5px;
}
.portada{
    width: 16vw;
    height: 44vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}